body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}

main {
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#root {
    margin: 0;
}

.page-headings {
    font-family: 'Montserrat', sans-serif;
    color: rgb(91,52,144);
    margin: 15px;
}

.external-link {
    color:rgb(136, 100, 170);
    font-size: 1.1em;
}

.external-link:hover {
    color: rgb(91,52,144);
    font-weight: bold;
}