#root {
    padding: 10px 20px;
}

.infield {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 3px;
    background-color: #f6f6f6;
    box-shadow: inset 0 0 2px #999999;
}

.infield > input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.infield > span {
    font-family: sans-serif;
    color: darkgray;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.infield:focus-within {
    outline-color: rgb(80,80,80);
    outline-style: auto;
}

.infield:focus-within > span {
    color: rgb(80,80,80);
}

button {
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px #999999;
    background-color:rgb(173,153,190);
}

button:focus {
    outline-color: rgb(80,80,80);
}

/* button:hover {
    background-color: rgb(136, 100, 170);
} */

button:active {
    background-color: rgb(136, 100, 170);
}