body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header {
    background-color: rgb(136, 100, 170);
    height: 200px;
    margin: 0;
}

#header-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

header > #header-titles > h1 {
    color: white;
    font-size: 4em;
    margin: 0;
}

header > #header-titles > h2 {
    color: white;
    font-size: 1.5em;
}

footer {
    border-top: lightgrey 2px solid;
    width: 100vw;
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#social-links > p {
    color:grey;
    font-size: 2em;
    padding: 10px;
}

.social-link {
    margin: 10px;
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
}

.social-link > a > img {
    height: 40px;
    width: auto;
}

#instagram-logo {    
    filter: invert(57%);
}

@media (max-width: 615px) {
    header > #header-titles > h1 {
        font-size: 3.8em;
    }
}

@media (max-width: 600px) {
    header {
        height: 150px;
    }
    
    header > #header-titles > h1 {
        font-size: 9.4vw;
    }
    
    header > #header-titles > h2 {
        font-size: 3.7vw;
    }
}
