header {
    background-color: rgb(136, 100, 170);
    height: 150px;
    margin: 0;
}

#header-titles {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

header > #header-titles > h1 {
    color: white;
    font-size: 4em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

header > #header-titles > h2 {
    margin-top: 5px;
    color: white;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

footer {
    border-top: lightgrey 2px solid;
    width: 100vw;
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#social-links > p {
    color:grey;
    font-size: 2em;
    padding: 10px;
}

.social-link {
    margin: 10px;
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
}

.social-link > a > img {
    height: 40px;
    width: auto;
}

#instagram-logo {    
    filter: invert(57%);
}

@media (max-width: 770px) {
    header > #header-titles > h1 {
        font-size: 8vw;
    }
}

@media (max-width: 705px) {
    header > #header-titles > h1 {
        font-size: 7.4vw;
        padding-left: 5px;
    }
    header > #header-titles > h2 {
        font-size: 3.3vw;
        padding-left: 5px;
    }
}

@media (max-width: 600px) {
    #header-titles {
        margin-top: 20px;
    }
}
