/*dark purple: rgb(91,52,144)*/
/*med purple: rgb(136, 100, 170)*/
/*light purple: rgb(173,153,190)*/

#root {
    display: flex;
    flex-direction: column;
}

#images > img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

#mission-statement {
    flex-grow: 1;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#mission-statement-text {
    margin: 20px 0 0 20px;
}

#mission-statement-text > .main-heading {
    font-size: 2.3em;
    margin-left: 0;
}

#mission-statement-text > p {
    font-size: 1.7em;
    margin: 20px;
}

#mission-statement-text > p > span {
    font-weight: bold;
    color: rgb(136, 100, 170);
}

#logo {
    width: 225px;
    height: 225px;
    margin: 20px;
    border: 1px gray solid;
    border-radius: 5px;
    box-sizing: content-box;
}

nav {
    padding: 50px;
    border-top: rgb(136, 100, 170) solid 5px;
    flex-grow: 1;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.card-nav-link {
    margin: 10px;
    background-color: rgb(91,52,144);
    border-radius: 10px;
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    padding: 70px 0;
    width: 100%;
    box-sizing: border-box;
    transition: font-size 10ms ease-in-out;
}

@media (max-width: 1380px) {
    nav {
        padding: 50px 20px;
    }
}

@media (max-width: 1140px) {
    .card-nav-link > .link {
        font-size: 1.3em;
    }
}

@media (max-width: 940px) {
    nav {
        padding: 50px 10px;
    }
    .card-nav-link > .link {
        font-size: 1em;
    }
}

@media (max-width: 850px) {
    .card-nav-link {
        margin: 10px;
    }
}

@media (max-width: 760px) {
    .card-nav-link > .link {
        font-size: .8em;
    }
    .card-nav-link {
        max-height: 150px;
    }
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-nav-link {
        height: 200px;
        width: 90%;
        font-size: 2em;
    }

    #mission-statement {
        flex-direction: column;
        align-items: center;
    }
}