/*dark purple: rgb(91,52,144)*/
/*med purple: rgb(136, 100, 170)*/
/*light purple: rgb(173,153,190)*/

#root {
    display: flex;
    flex-direction: column;
}

#images > img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

#mission-statement {
    flex-grow: 1;
    margin: 10px;
    padding: 5px;
}

#mission-statement > .title {
    font-size: 2em;
}

#mission-statement > p {
    font-size: 1.5em;
}

nav {
    padding: 50px;
    border-top: rgb(136, 100, 170) solid 5px;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-nav-link {
    margin: 10px;
    height: 400px;
    width: 300px;
    background-color: rgb(91,52,144);
    border-radius: 10px;
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.link:hover {
    color: lightgray;
}

#logo {
    width: auto;
    height: 60%;
    margin: 10px;
    border-radius: 5px;
    
}

@media (max-width: 1380px) {
    nav {
        padding: 50px 20px;
    }
}

@media (max-width: 1320px) {
    .card-nav-link {
        height: 350px;
        width: 262.5px;
    }
}

@media (max-width: 1170px) {
    .card-nav-link {
        height: 300px;
        width: 225px;
    }
}

@media (max-width: 1020px) {
    nav {
        padding: 50px 10px;
    }
    .card-nav-link {
        height: 250px;
        width: 187.5px;
    }
}

@media (max-width: 850px) {
    .card-nav-link {
        height: 200px;
        width: 150px;
    }
}

@media (max-width: 700px) {
    .card-nav-link {
        height: 400px;
        width: 300px;
    }
}