#root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#picture-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.exec-picture > img {
    background-color: white;
    padding: 5px;
    width: 160px;
    height: 200px;
    object-fit: cover;
    box-sizing: border-box;
}

figure {
    width: 180px;
    height: 370px;
    display: inline-block;
    font-family: sans-serif;
    background-color: rgb(173,153,190);
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

figure > h3 {
    margin: 0;
    text-align: center;
}

@media (max-width: 600px) {
    #picture-root {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
    }

    figure {
        width: 90%;
        height: 220px;
        display: flex;
        flex-direction: row;
    }

    figcaption {
        padding-left: 10px;
    }
    
}