#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: -1;
}

#picture-root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

#officers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.person {
    max-width: 100%;
}

.exec-picture > img {
    background-color: white;
    padding: 5px;
    width: 200px;
    height: 260px;
    object-fit: cover;
    box-sizing: border-box;
    box-shadow: -4px 4px 15px grey;
}

.exec-picture {
    width: 220px;
    height: 280px;
    display: inline-block;
    font-family: sans-serif;
    background-color: rgb(173,153,190);
    padding: 10px;
    margin: 15px 200px 15px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

figcaption {
    position: absolute;
    top: 0;
    left: 220px;
    padding: 15px;
    box-sizing: border-box;
    width: 200px;
}

figure > h3 {
    margin: 0;
    text-align: center;
}

@media (max-width: 1000px) {
    #officers {
        flex-direction: column;
    }
}