#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.event {
    min-height: 300px;
    border: black solid 1px;
    margin: 0 20px 20px 20px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: -1;
}

.event:nth-child(1) {
    margin-top: 20px;
}

.event-information {
    flex-grow: 1;
}

.event > img {
    height: 280px;
    width: 290px;
    margin: 5px;
    object-fit: cover;
    border: lightgrey 2px solid;
}

#jhuapl-logo {
    object-fit: contain;
}

@media (max-width: 950px) {
    .event {
        flex-direction: column;
    }
}



